<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css" type="text/css"/>
	</head>
	<body>
		<div class="header">
			<h1><a href="main.html">Khamad Ali</a><br>
				<small>Welcome to my web</small>
			</h1>
		</div>
		
		<div class="menu">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Profil</a></li>
				<li><a href="#">Product</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		
		<div class="content">
			<div class="subc"></div>
			<div class="subc"></div>
			<div class="subc"></div>
		</div>
	</body>
</html>