body{
	margin:0 auto;
	background:;
}
a{
	text-decoration:none;
	color:#eee;
	font-family:Arial;
}
.header{
	background: #fff;
	width: 100%;
	margin: 0 auto;
}

.header h1{
	text-align:center;
	padding:20px 0;
	font-family:verdana;
	color:#455;
}

.header h1 a{
	color:#455;
}

.header small{
	font-size:50%;
	font-family:Calibri;
}
.menu{
	background:#6C7A89;
	box-shadow:0px 4px 10px;
}

.menu ul li{
	list-style-type:none;
	display:inline;
	margin-right:50px;
	font-size:20px;
}

.menu ul{
	text-align:left;
	padding:10px 0;
	margin:0 70px;
}

.menu li a:hover{
	opacity:0.6;
	font-size:90%;
}

.content{
	border:solid 1px;
}

.subc{
	margin-right:40px;
	float:left;
	border:solid 1px;
	width:300px;
	height:400px;
}
.subc:last-child{
	margin-right:0px;
}